.gameTitle {
    font-size: 36px;
    font-weight: bold;
}

.player {
    max-width: 100% ; 
}


@media(max-width: 457px) {
    .gameTitle{
        font-size: 20px;
        padding: 0px 10px;
    }
    .player {
        max-width: 100% ; 
    }
    
}

.newsText {
    text-align: left;
    padding-top: 0.5rem; /* padding para dispositivos pequenos */
    padding-bottom: 0.5rem; /* padding para dispositivos pequenos */
    font-size: 1rem; /* tamanho de fonte para dispositivos pequenos */
    font-weight: 400; /* equivalente a fw-normal */
    word-wrap: break-word; /* quebra de linha para palavras longas */
    white-space: normal; /* permite que o texto quebre em várias linhas */
    overflow-wrap: break-word; /* permite que palavras longas quebrem */
    hyphens: auto; /* adiciona hifens quando palavras longas quebram */

    @media (min-width: 768px) {
        padding-top: 1rem; /* padding para dispositivos médios e grandes */
        padding-bottom: 1rem; /* padding para dispositivos médios e grandes */
        font-size: 1.25rem; /* tamanho de fonte para dispositivos médios e grandes */
    }
}

